<h1>Cadastro de Cliente</h1>
<form action="" method="POST" class="form">
<div class="form-control">
    <label for="nome">Insira seu nome</label>
    <input type="text" name="nome" placeholder="Insira seu nome" value="{{teste.nome}}">
</div>
<input type="submit" value="Editar">
</form>